{% extends "base.html" %}

{% block content %}

    <div class="container" style="background-color:WhiteSmoke;overflow-y:auto;">
        <div class="row">
            <div class="col-12">
                <h5>{{ _('An unexpected error has occurred') }}</h5>
                <p>{{ _('Sorry for the inconvenience! Please, go back to the') }}
                   <a href="{{ url_for('index') }}">{{ _('start of the Covid Section') }}</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}