
<div class="rsts-header">
  <div class="rsts-brand">
    <a class="navbar-brand soiola" href="https://luciano.defalcoalfano.it">
        <!-- warning: use 'url_for' to get static resources, otherwise it could fail on some template(s) -->
        <img src="{{  url_for('static', filename='images/avatar.jpg') }}" alt="ldfa website" style="width:52px;height:52px;border:0;padding:0;">
    </a>
  </div>
  <div class="soiola" style="float:left;">
    <div class="container-fluid hidden-xs soiola">
      <h4 class="soiola" style="text-align:center;color:DarkSlateBlue;">{{ config.SITE.WTITLE }}
      </h4>
    </div>
    <nav class="main-menu">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ url_for('index') }}">{{ _('Covid Section') }}</a>&nbsp;</li>
            <li class="list-inline-item"><a href="https://luciano.defalcoalfano.it">Blog</a>&nbsp;</li>
            <li class="list-inline-item"><a href="{{ url_for('select') }}">{{ _('Select') }}</a></li>
            <!-- 
            <li class="list-inline-item"><a href="\{\{ url_for('draw_graph', ids='IT-UK')   \}\}">{{ _('Plot') }}</a></li>
            <li class="list-inline-item"><a href="\{\{ url_for('draw_overlap', ids='IT-UK') \}\}">{{ _('Overlap') }}</a></li>
            <li class="list-inline-item"><a href="\{\{ url_for('draw_overlap', ids='US-EU') \}\}">{{ _('Overlap') }}</a></li> 
            -->
        </ul>
    </nav>
  </div>
</div>

