{% extends "base.html" %}

{% block content %}

    <div class="container" style="background-color:WhiteSmoke;overflow-y:auto;">
        {% if img_data %}
            <div>
                <h3>{{ _('Time trend of ...')}} </h3>
                    <p> {{ _('... these observations related to Covid-19') }}:</p>
                    <ul>
                    {% if 'cases' in columns %}
                        <li>{{ _('total positive cases') }}</li>
                    {% endif %}
                    {% if 'deaths' in columns %}
                        <li>{{ _('total number of deaths') }}</li>
                    {% endif %}
                    </ul>
                </h3>
                {% if countries %}
                    {% if kwargs.contest == 'nations' %}
                        <p> {{ _('about these nations') }}:</p>
                    {% else %}
                        <p> {{ _('about these continents') }}:</p>
                    {% endif %}
                    <ul>
                    {%for country in countries %}
                        <li>{{ country }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            <div>
            {% if overlap %}
            <div>
                <p>{{ _('Beware of fact the below image overlap the lines of the different') }} 
                   {% if kwargs.contest == 'nations' %}
                       {{ _('nations') }}.
                   {% else %}
                       {{ _('continents') }}.
                   {% endif %}
                </p>
                <p>{{ _('To do so, lines are translated each other by the day where they exceed a treshold of') }}
                   {{ threshold }} {{ _('cases in a couple of adjacent days') }}. </p>
                <p>{{ _('If you wish, you can') }}, <a href="{{ url_for('draw_graph', **kwargs) }}">{{ _('go back to the normal view') }}</a>. </p>
            </div>
            {% elif countries|count > 1 and columns|count == 1 %}
            <div>
                <p>{{ _('If you wish') }}, <a href="{{ url_for('draw_graph', **kwargs) }}">{{ _('you could overlap') }}</a> 
                {% if kwargs.contest == 'nations' %}
                    {{ _('the lines of these nations') }}.
                {% else %}
                    {{ _('the lines of these continents') }}.
                {% endif %}
                </p>
            </div>
            {% endif %}
            {% for key in request.args.keys() %}
            <p> {{key}} </p>
            {% endfor %}
            <div>
               {{ img_data|safe }}
            </div>
            </div>
        {% endif %}
    </div>
{% endblock %}